
@{
    ViewData["Title"] = "Index";
}

<h1 class="display-2">Enrolment menu</h1>
<br />
<h4 class="display-5"><a href="@Url.Action("ViewCourse","Enrolment")">View All Courses</a></h4>
<h4 class="display-5"><a href="@Url.Action("AddEnrolment","Enrolment")">Add a New Enrolment</a></h4>