
@{
    ViewData["Title"] = "Index";
}

<h1 class="display-2">Student menu</h1>
<br />
<h4 class="display-5"><a href="@Url.Action("Student","Student")">View All Students</a></h4>
<h4 class="display-5"><a href="@Url.Action("AddStudent","Student")">Add a Student</a></h4>

